.content {
  @apply flex flex-col gap-y-5;

  h1, h2, h3, h4, h5, h6 {
    @apply font-inknut;
  }

  h1 {
    @apply text-3xl md:text-5xl 2xl:text-7xl !leading-tight;
  }

  h2 {
    @apply text-2xl md:text-3xl 2xl:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl 2xl:text-3xl;
  }

  p {
    @apply text-xl md:text-2xl 2xl:text-4xl;
  }

  .small-text {
    @apply text-lg md:text-xl 2xl:text-2xl !mt-2;
  }

  ul, ol {
    @apply list-inside pl-5 text-xl md:text-2xl 2xl:text-4xl space-y-2;
  }

  li {
    @apply leading-relaxed;
  }

  blockquote {
    @apply border-l-4 border-black pl-4 italic text-xl md:text-2xl 2xl:text-4xl;
  }

  a {
    @apply underline underline-offset-2 text-teal-600 hover:text-teal-800 transition-colors;
  }
}